
*.svn-base
.gitattributes
.svn/entries
.svn/format
.svn/wc.db
.svn/wc.db-journal
.vs/suppose/v15/.suo
.vs/suppose/v15/Browse.VC.db
.vs/suppose/v15/Browse.VC.opendb
.vs/suppose/v15/ipch/AutoPCH/4dd684b423509ff8/CPREFSWIN.ipch
.vs/suppose/v15/ipch/AutoPCH/5d1c6c3272fbd3d8/APPDOC.ipch
.vs/suppose/v15/ipch/AutoPCH/70e0c7d9198e388c/ALLLOCD.ipch
.vs/suppose/v15/ipch/AutoPCH/7e07260f8ee81797/SPFUNCS.ipch
.vs/suppose/v15/ipch/AutoPCH/c90c3e1e110e2a59/BOXTEXT.ipch
Backup/suppose.sln
CALIB.HLP
CALOWL.HLP
COMPUTE.HLP
ELKCOVER.HLP
FIRETBL.HLP
FVS2SPEC.HLP
Fvs2svs.hlp
fvsstand.hlp
Org2svs.hlp
PINEBTL.HLP
SPRUCBTL.HLP
SUPPOSE.HLP
SUMAVG.HLP
STANDTBL.HLP
Svslib.hlp
toss.hlp
Viewpic.hlp
Winsvs.hlp
Tbl2svs.hlp
suppose.exe
suppose.vcxproj.filters
suppose.vcxproj.user
UpgradeLog.htm
suppose.pdb
suppose!.vcxproj
release/suppose.log
release/suppose.dir/yearobj.obj
release/suppose.dir/warn_dlg.obj
release/suppose.dir/viewkey.obj
release/suppose.dir/variants.obj
release/suppose.dir/usekey.obj
release/suppose.dir/timescal.obj
release/suppose.dir/thinwin.obj
release/suppose.dir/suppose.tlog/suppose.lastbuildstate
release/suppose.dir/suppose.tlog/rc.write.1.tlog
release/suppose.dir/suppose.tlog/rc.read.1.tlog
release/suppose.dir/suppose.tlog/rc.command.1.tlog
release/suppose.dir/suppose.tlog/link.write.1.tlog
release/suppose.dir/suppose.tlog/link.read.1.tlog
release/suppose.dir/suppose.tlog/link.command.1.tlog
release/suppose.dir/suppose.tlog/custombuild.write.1.tlog
release/suppose.dir/suppose.tlog/custombuild.read.1.tlog
release/suppose.dir/suppose.tlog/custombuild.command.1.tlog
release/suppose.dir/suppose.tlog/CL.write.1.tlog
release/suppose.dir/suppose.tlog/CL.read.1.tlog
release/suppose.dir/suppose.tlog/CL.command.1.tlog
release/suppose.dir/suppose.res
release/suppose.dir/suppose.log
release/suppose.dir/suppose.Build.CppClean.log
release/suppose.dir/startapp.obj
release/suppose.dir/stand.obj
release/suppose.dir/spprefer.obj
release/suppose.dir/spparms.obj
release/suppose.dir/spglobal.obj
release/suppose.dir/spfuncs.obj
release/suppose.dir/spfunc2.obj
release/suppose.dir/slfrec.obj
release/suppose.dir/simnotes.obj
release/suppose.dir/sheltwin.obj
release/suppose.dir/sendupdt.obj
release/suppose.dir/selvar.obj
release/suppose.dir/selectsi.obj
release/suppose.dir/seedwin.obj
release/suppose.dir/schedobj.obj
release/suppose.dir/schcond.obj
release/suppose.dir/runwizw.obj
release/suppose.dir/runstr.obj
release/suppose.dir/reportwn.obj
release/suppose.dir/reportd.obj
release/suppose.dir/readfvsw.obj
release/suppose.dir/readfire.obj
release/suppose.dir/readcomp.obj
release/suppose.dir/radiogrp.obj
release/suppose.dir/programs.obj
release/suppose.dir/postpwin.obj
release/suppose.dir/postproc.obj
release/suppose.dir/plantwin.obj
release/suppose.dir/parser.obj
release/suppose.dir/opsys.obj
release/suppose.dir/mylinetx.obj
release/suppose.dir/mycscrol.obj
release/suppose.dir/msgwin.obj
release/suppose.dir/msado15.tli
release/suppose.dir/msado15.tlh
release/suppose.dir/mdloutwin.obj
release/suppose.dir/mainwin.obj
release/suppose.dir/main.obj
release/suppose.dir/grpmemb.obj
release/suppose.dir/group.obj
release/suppose.dir/graphwn.obj
release/suppose.dir/gpkey.obj
release/suppose.dir/fvslocs.obj
release/suppose.dir/filebrws.obj
release/suppose.dir/extens.obj
release/suppose.dir/express.obj
release/suppose.dir/editslf2.obj
release/suppose.dir/editslf.obj
release/suppose.dir/editlocs.obj
release/suppose.dir/editfvst.obj
release/suppose.dir/dlstdgrp.obj
release/suppose.dir/cyear.obj
release/suppose.dir/cwwindow.obj
release/suppose.dir/cretcomp.obj
release/suppose.dir/cprefswin.obj
release/suppose.dir/cparmrtn.obj
release/suppose.dir/compon.obj
release/suppose.dir/commands.obj
release/suppose.dir/cmngwin.obj
release/suppose.dir/cmmodwin.obj
release/suppose.dir/cmgtclas.obj
release/suppose.dir/cmdline.obj
release/suppose.dir/clearwin.obj
release/suppose.dir/ccatwin.obj
release/suppose.dir/boxtext.obj
release/suppose.dir/boxsldr.obj
release/suppose.dir/avefvsw.obj
release/suppose.dir/appdoc.obj
release/suppose.dir/alllocd.obj
Debug/suppose.dir/yearobj.obj
Debug/suppose.dir/warn_dlg.obj
Debug/suppose.dir/viewkey.obj
Debug/suppose.dir/vc141.pdb
Debug/suppose.dir/variants.obj
Debug/suppose.dir/usekey.obj
Debug/suppose.dir/timescal.obj
Debug/suppose.dir/thinwin.obj
Debug/suppose.dir/suppose.tlog/suppose.lastbuildstate
Debug/suppose.dir/suppose.tlog/rc.write.1.tlog
Debug/suppose.dir/suppose.tlog/rc.read.1.tlog
Debug/suppose.dir/suppose.tlog/rc.command.1.tlog
Debug/suppose.dir/suppose.tlog/link.write.1.tlog
Debug/suppose.dir/suppose.tlog/link.read.1.tlog
Debug/suppose.dir/suppose.tlog/link.command.1.tlog
Debug/suppose.dir/suppose.tlog/custombuild.write.1.tlog
Debug/suppose.dir/suppose.tlog/custombuild.read.1.tlog
Debug/suppose.dir/suppose.tlog/custombuild.command.1.tlog
Debug/suppose.dir/suppose.tlog/CL.write.1.tlog
Debug/suppose.dir/suppose.tlog/CL.read.1.tlog
Debug/suppose.dir/suppose.tlog/CL.command.1.tlog
Debug/suppose.dir/suppose.res
Debug/suppose.dir/suppose.log
Debug/suppose.dir/startapp.obj
Debug/suppose.dir/stand.obj
Debug/suppose.dir/spprefer.obj
Debug/suppose.dir/spparms.obj
Debug/suppose.dir/spglobal.obj
Debug/suppose.dir/spfuncs.obj
Debug/suppose.dir/spfunc2.obj
Debug/suppose.dir/slfrec.obj
Debug/suppose.dir/simnotes.obj
Debug/suppose.dir/sheltwin.obj
Debug/suppose.dir/sendupdt.obj
Debug/suppose.dir/selvar.obj
Debug/suppose.dir/selectsi.obj
Debug/suppose.dir/seedwin.obj
Debug/suppose.dir/schedobj.obj
Debug/suppose.dir/schcond.obj
Debug/suppose.dir/runwizw.obj
Debug/suppose.dir/runstr.obj
Debug/suppose.dir/reportwn.obj
Debug/suppose.dir/reportd.obj
Debug/suppose.dir/readfvsw.obj
Debug/suppose.dir/readfire.obj
Debug/suppose.dir/readcomp.obj
Debug/suppose.dir/radiogrp.obj
Debug/suppose.dir/programs.obj
Debug/suppose.dir/postpwin.obj
Debug/suppose.dir/postproc.obj
Debug/suppose.dir/plantwin.obj
Debug/suppose.dir/parser.obj
Debug/suppose.dir/opsys.obj
Debug/suppose.dir/mylinetx.obj
Debug/suppose.dir/mycscrol.obj
Debug/suppose.dir/msgwin.obj
Debug/suppose.dir/msado15.tli
Debug/suppose.dir/msado15.tlh
Debug/suppose.dir/mdloutwin.obj
Debug/suppose.dir/mainwin.obj
Debug/suppose.dir/main.obj
Debug/suppose.dir/grpmemb.obj
Debug/suppose.dir/group.obj
Debug/suppose.dir/graphwn.obj
Debug/suppose.dir/gpkey.obj
Debug/suppose.dir/fvslocs.obj
Debug/suppose.dir/filebrws.obj
Debug/suppose.dir/extens.obj
Debug/suppose.dir/express.obj
Debug/suppose.dir/editslf2.obj
Debug/suppose.dir/editslf.obj
Debug/suppose.dir/editlocs.obj
Debug/suppose.dir/editfvst.obj
Debug/suppose.dir/dlstdgrp.obj
Debug/suppose.dir/cyear.obj
Debug/suppose.dir/cwwindow.obj
Debug/suppose.dir/cretcomp.obj
Debug/suppose.dir/cprefswin.obj
Debug/suppose.dir/cparmrtn.obj
Debug/suppose.dir/compon.obj
Debug/suppose.dir/commands.obj
Debug/suppose.dir/cmngwin.obj
Debug/suppose.dir/cmmodwin.obj
Debug/suppose.dir/cmgtclas.obj
Debug/suppose.dir/cmdline.obj
Debug/suppose.dir/clearwin.obj
Debug/suppose.dir/ccatwin.obj
Debug/suppose.dir/boxtext.obj
Debug/suppose.dir/boxsldr.obj
Debug/suppose.dir/avefvsw.obj
Debug/suppose.dir/appdoc.obj
Debug/suppose.dir/alllocd.obj
.vs/suppose/v15/ipch/AutoPCH/b2fc743a0f84ce75/RUNSTR.ipch
.vs/suppose/v15/ipch/AutoPCH/9e2682ab1318ac7a/MAIN.ipch
.vs/suppose/v15/ipch/AutoPCH/59ab5f503a2e77af/READFVSW.ipch
.vs/suppose/v15/ipch/AutoPCH/4e64e4e58db45f3c/SPPREFER.ipch
.vs/suppose/v15/ipch/AutoPCH/3fd115c9624a43b9/CWWINDOW.ipch
.vs/suppose/v15/ipch/AutoPCH/173d530045a1e6d1/SPGLOBAL.ipch
.vs/suppose/v15/ipch/AutoPCH/ab2349daf674caba/MAINWIN.ipch
.vs/suppose/v15/ipch/AutoPCH/202fd97d926eda2a/MDLOUTWIN.ipch
.vs/suppose/v15/ipch/AutoPCH/2c703a76ee62ab7/SCHCOND.ipch
.vs/suppose/v15/ipch/AutoPCH/341f52206848f105/USEKEY.ipch
.vs/suppose/v15/ipch/AutoPCH/34d2de22e3c13f25/CYEAR.ipch
.vs/suppose/v15/ipch/AutoPCH/51c329c5daa3b350/STARTAPP.ipch
.vs/suppose/v15/ipch/AutoPCH/440e68ab29be07b1/GPKEY.ipch
.vs/suppose/v15/ipch/AutoPCH/7b94b2b3c5cbbc67/AVEFVSW.ipch
.vs/suppose/v15/ipch/AutoPCH/af21bb268317e899/TIMESCAL.ipch
.vs/suppose/v15/ipch/AutoPCH/a6227dbc8a5cdb89/CMMODWIN.ipch
.vs/suppose/v15/ipch/AutoPCH/c010346633adfbec/GRAPHWN.ipch
.vs/suppose/v15/ipch/AutoPCH/c3788ed3959ab3ce/REPORTWN.ipch
.vs/suppose/v15/ipch/AutoPCH/c5b382b6dabe962e/CMNGWIN.ipch
.vs/suppose/v15/ipch/AutoPCH/db1faca157b95f7e/SPFUNC2.ipch
